.hourly {
  width: 100%;
  min-height: 120px;
  display: flex;
  box-sizing: border-box;
  padding: 16px;
  background: #ffffff;
  box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
  border-radius: 20px;
  gap: 8px;
  overflow-x: auto;
}
